<div class="container">
	<h1 class="text-center info-banner center-block">Edit your account</h1>

	<%= form_for @user do |f| %>
		<div class="half center-block"> 
			<div class="form-group">
				<%= f.label(:first_name, "First Name") %>
				<%= f.text_field :first_name, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label(:last_name, "Last Name") %>
				<%= f.text_field :last_name, class: "form-control" %>
			</div>
			<div class="form-group half center-block">
				<%= f.label(:avatar, "Avatar") %>
				<%= f.file_field :avatar %>
			</div>
			<%= f.submit "Update Profile", class: "btn btn-default center-block" %>
		</div>
	<% end %>
</div>