<div class="container">
  <div class="row">
    <h1 class="text-center"><%= @user.userName %> </h1>
    <div class="col-md-6">
        <%= image_tag @user.avatar.url, size: "320x426", class: "img-responsive" %>
        <h3 class="h3isNeon"><%=@user.first_name%> <%=@user.last_name%></h3>

        <% if user_ud(@user) %>
        <%= button_to "Edit", edit_user_path, method: :get, class: "btn btn-default" %>
        <%= button_to "Delete", @user, method: :delete, class: "btn btn-danger" %>
        <% end %>
        <br>
        <p><strong> Total Upvotes: </strong> <%= upvoteCount(@user) %> </p> 
        <br>
        <p> <strong> Total Downvotes: </strong> <%= downvoteCount(@user)  %> </p>
        <br>
    </div>
    <div class="col-md-6">
  <% @places.each do |place| %>

    <div class="votebox">
      <%= link_to(place) do %>
      <h3> <%= place.name %> </h3>
      <% end %>
      <p><strong>Up votes</strong> <%= place.upvotes.where({user: @user}).count %></p>
      <p><strong>Down votes</strong> <%= place.downvotes.where({user: @user}).count %></p>
    </div>
  <% end %>
</div>
  </div> 
</div>