<div class="container">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-10" id="place_add">
        <%= link_to"Add your own place.", add_place_path %>
    </div>
  </div>
</div>
<div class="container">
	<h1 class="text-center place-h1">Places</h1>

  <div class="row">
		<% @places.each do |place| %>
			<%= link_to(place) do %>
        <div class="col-md-4">

          <h1 class="vote places-name text-center" data-upvotes=<%= place.upvotes.count %> data-downvotes=<%= place.downvotes.count %> data-vote-percentage=<%= calculate_upvote_percentage( place.upvotes.count, place.downvotes.count ) %>  id=<%= place.id %> > <%= place.name.upcase %>
          </h1>

          <svg class="graph" id=<%= "graph#{place.id}" %> ></svg>

        </div>
			<% end %>
		<% end %>
  </div>
  
</div>