<div class="container">
  <div class="row">
    <div class="col-md-4">

    	<p class="col-md-4 place" id=<%= @place.id %> data-upvotes=<%= @place.upvotes.count %> data-downvotes=<%= @place.downvotes.count %> data-vote-percentage=<%= calculate_upvote_percentage( @place.upvotes.count, @place.downvotes.count ) %> > <strong><%= @place.name.upcase %> is <%= calculate_upvote_percentage( @place.upvotes.count, @place.downvotes.count ) %>% beautiful.</strong> </p>
    	<svg class="graph" id=<%= "graph#{@place.id}" %> ></svg>

    </div>
  </div>
	<div class="row">
			<% @urls.each do |url| %>
				<div class="col-md-4 photoTile">
				<%= image_tag url, size: "320x426", class: "img-responsive" %>
				</div>
			<% end %>
	</div>
</div>