<div class="container">
  Welcome, <%= @place.name %>

	<p data-upvotes=<%= @upvotes %> data-downvotes=<%= @downvotes %> ><strong> hotness </strong> <%= @hotness %> </p>

	<svg id="graph"></svg>
	<div class="row">
			<% @urls.each do |url| %>
				<div class="col-md-4 photoTile">
				<%= image_tag url, size: "320x426", class: "img-responsive" %>
				</div>
			<% end %>
	</div>
</div>