<div class="container">
  <div class="row">
  	<p class="col-md-4" data-upvotes=<%= @upvotes %> data-downvotes=<%= @downvotes %> data-vote-percentage=<%= @vote_percentage %> ><strong><%= @place.name.upcase %> is <%= @vote_percentage %>% beautiful.</strong> </p>
  	 <svg class="col-md-4" id="graph"></svg>
  </div>
	<div class="row">
			<% @urls.each do |url| %>
				<div class="col-md-4 photoTile">
				<%= image_tag url, size: "320x426", class: "img-responsive" %>
				</div>
			<% end %>
	</div>
</div>